* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Merriweather', serif;
}

.container {
    padding: 15px;
    margin: 0px auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }

    .main {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* Start header part */

header {
    position: fixed;
    z-index: 999;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid;
    box-shadow: 0px 5px 10px 2px;
    padding: 0px 20px;
}

header .container {
    padding: 0px 15px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .container h1 {
    color: blue;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 5px;
}

header .container h3 a {
    display: block;
    color: blue;
    text-decoration: none;
}

/* End header part */
/* start section cards  */
main .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
}

main .container .title {
    color: rgb(25, 11, 231);
    font-size: 1.8em;
    font-weight: 700;
    margin: 100px auto 50px;
    text-align: center;
}



main .container .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px auto;
    min-height: 500px;
}

main .container .content .card {
    background-color: rgba(201, 196, 196, 0.592);
    width: 25.25em;
    margin: 20px 20px;
    border-radius: 15px;
    border: 2px solid gray;
    box-shadow: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .container .content .card img {
    width: 100%;
    height: 240px;
    padding: 10px;
    margin-bottom: 10px;
}

main .container .content .card .info {
    margin-bottom: 20px;
}

main .container .content .card .info h4 {
    color: rgb(25, 11, 231);
}

main .container .content .card .info p {
    padding: 20px auto;
    margin: 10px 0px;
}

main .container .content .card .info a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0px 20px;
    color: blue;
}

main .container .content .card .info a:hover {
    color: #fff;
}

/* End section cards */