* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Merriweather', serif;
}

.container {
    padding: 15px;
    margin: 0px auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }

    .main {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* Start header part */
header {
    position: fixed;
    z-index: 999;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid;
    box-shadow: 0px 5px 10px 2px;
    padding: 0px 20px;
}

header .container {
    padding: 0px 15px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .container h1 {
    color: blue;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 5px;
}

header .container .links {
    position: relative;
}

header .container .links .icon {
    width: 20px;
    display: flex;
    flex-wrap: wrap;
}

header .container .links .icon span {
    width: 100%;
    height: 2px;
    background-color: blue;
    margin-bottom: 2px;
}

header .container .links ul {
    position: absolute;
    top: 20px;
    right: 0px;
    z-index: 1;
    list-style: none;
    background: rgb(53 132 197);
    padding: 0;
    margin: 0;
    width: 150px;
    display: none;
}

header .container .links:hover ul {
    display: block;
}

header .container .links ul::before {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent rgb(53 132 197) transparent;
    position: absolute;
    right: 0;
    top: -19px;
}

header .container .links ul a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #fff;
    transition: 0.3s ease;
}

header .container .links ul a:hover {
    padding-left: 25px;
    background: blue;
    color: #fff;

}

/* End header part */
/* Start main Section Part */
.main {
    width: 100%;
    min-height: 100vh;
    background: url("../img/main_sec_background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

.main .container {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 20px;
    max-width: 600px;

}

.main .container h2 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
}

.main .container span {
    display: inline-block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: rgb(21, 21, 95);
    margin-top: 20px;
}

.main .container h3 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.main .container .Pro_but {
    display: inline-block;
    background: rgb(22, 22, 219);
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
    margin-top: 5px;
    transition: 0.7s ease;
}

.main .container .Pro_but:hover {
    transform: scale(1.1);
    background: rgb(4, 4, 114);
}

.main .container .Spcial_Icons .fa-brands {
    font-size: 1.5rem;
    color: black;
    padding: 10px;
    transition: 0.7s ease;
}

.main .container .Spcial_Icons .fa-brands:hover {
    color: blue;
    transform: scale(1.5);
}

/* End  main Section Part */
/* Start Skills part */
.Skills {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Skills .title {
    color: blue;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.Skills .cards {
    width: 80%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
}

.Skills .cards .card {
    width: 21.25em;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    transition: 0.7s ease;
    border-radius: 15px;
    border: 1px solid rgb(223, 220, 220);
    box-shadow: 5px 5px gray;
    flex-wrap: wrap;
}

.Skills .cards .card h3 a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

.Skills .cards .card h3 a:hover {
    color: rgb(76, 0, 255);
}

.Skills .cards .card:hover {
    transform: scale(1.1);
    box-shadow: 20px 20px gray;
    border: 1px solid rgb(223, 220, 220);

}

.Skills .cards .card .fa-solid {
    color: blue;
    font-size: 7rem;
}

.Skills .cards .card h3 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: blue;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.Skills .cards .card p {
    font-weight: 400;
    letter-spacing: 1px;
}

/* Start Skills part */
/* Start Contact part  */
.Contact {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Contact .con_title {
    color: blue;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.Contact .cards {
    width: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
}

.Contact .cards .card {
    min-width: 15em;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    transition: 0.7s ease;
    border-radius: 15px;
    border: 1px solid rgb(223, 220, 220);
    box-shadow: 5px 5px gray;
}

.Contact .cards .card:hover {
    transform: scale(1.1);
    box-shadow: 20px 20px gray;
    border: 1px solid rgb(223, 220, 220);
    cursor: pointer;
}

.Contact .cards .card .fa-solid {
    color: blue;
    font-size: 7rem;
}

.Contact .cards .card h3 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: blue;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.Contact .cards .card p {
    font-weight: 700;
    font-size: 0.8rem;
    color: black;
}

/* End Contact part */
/* Start footer part  */
footer {
    background: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer p {
    font-size: 0.8em;
}

footer span {
    color: blue;
}

footer .footer_icons .fa-brands {
    color: #fff;
    font-size: 0.8em;
    padding: 0px 5px;
}

/* End footer part  */